################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PartOne/.vs/PartOne/v17
/PartOne/PartOne/bin/Debug
/PartOne/PartOne/obj/Debug
